<p id="notice"><%= notice %></p>

<h1>Whats</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whats.each do |what| %>
      <tr>
        <td><%= what.content %></td>
        <td><%= link_to 'Show', what %></td>
        <td><%= link_to 'Edit', edit_what_path(what) %></td>
        <td><%= link_to 'Destroy', what, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New What', new_what_path %>
