
<p id="notice"><%= notice %></p>

<h2>List of Trainers</h2>

<table class="table table-dark">
  <thead>
  <tr>
    <th>username</th>
    <th>gifts</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.gifts.count %></td>
      <td><%= link_to '', gifts_path(user_id: user), class:"fa fa-search icon" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "<i class='fas fa-level-down-alt rotate90'></i>".html_safe, root_path, class:"btn btn-run back" %>