<br>
<div class= "btn delibird fight", data-newpresent="<%= new_gift_path%>">
  <div class="present"></div>
</div>

<div class="battle-buttons">
  <div class="btn rounded-pill btn-lg btn-fight fight", data-newpresent="<%= new_gift_path%>">FIGHT</div>
  <%= link_to "BAG", gifts_path, class:"btn rounded-pill btn-lg btn-bag"%>
  <%= link_to "POKEMON", new_user_session_path, class:"btn rounded-pill btn-lg btn-pokemon"%>
  <%= if user_signed_in?
        link_to "RUN", destroy_user_session_path(id: current_user.id), method: :delete, class:"btn rounded-pill btn-lg btn-run"
      else
        link_to "RUN", "https://github.com/Gimbardo/DNDB", class:"btn rounded-pill btn-lg btn-run"
      end
  %>
</div>