<%= form_with(model: gift) do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
        <% gift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :who_id %>

    <%= form.hidden_field :what_id %>

    <%= form.hidden_field :why_id %>
  </div>
  <div class="actions">
    <%= link_to "<i class='fas fa-level-down-alt rotate90'></i>".html_safe, root_path, class:"btn btn-run back" %>
    <td><%= link_to '', root_path, class:" icon" %></td>
    <%if user_signed_in? %>
      <%= form.hidden_field :user_id, value: current_user.id %>

      <%= form.submit "Save Gift", class:"btn btn-bag"%>
    <% end %>
  </div>
<% end %>