<p id="notice"><%= notice %></p>

<% if !user_signed_in? %>
  <h4>In order to view saved gifts, first <%=link_to "Sign in", new_user_session_path %></h4>
<% else %>
  <h2><%=@user.username %>'s gifts</h2>

  <table class="table table-dark">

    <% if current_user.admin? %>
      <thead>
        <tr>
          <td><%= link_to 'list of Whos', whos_path, class:'btn btn-sm btn-pieces' %></td>
          <td><%= link_to 'list of Whats', whats_path, class:'btn btn-sm btn-pieces' %></td>
          <td><%= link_to 'list of Whies', whies_path, class:'btn btn-sm btn-pieces' %></td>
          <td></td>
        </tr>
      </thead>
    <% end %>
    <tbody>
      <% if @gifts.empty? %>
        <tr><td colspan="4">No saved gifts for this user</td></tr>
      <% else %>
        <% @gifts.each do |gift| %>
          <tr>
            <td><%= gift.who.content %></td>
            <td><%= gift.what.content %></td>
            <td><%= gift.why.content %></td>
            <% if current_user.id == @user.id || current_user.admin?%>
              <td><%= link_to '', gift, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-trash icon" %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>
<% end %>
<%= link_to "<i class='fas fa-level-down-alt rotate90'></i>".html_safe, root_path, class:"btn btn-run back" %>