<p id="notice"><%= notice %></p>

<p>
  <strong>Who:</strong>
  <%= @gift.who_id %>
</p>

<p>
  <strong>What:</strong>
  <%= @gift.what_id %>
</p>

<p>
  <strong>Why:</strong>
  <%= @gift.why_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @gift.user_id %>
</p>

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
