<%= form_with(model: why) do |form| %>
  <% if why.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(why.errors.count, "error") %> prohibited this why from being saved:</h2>

      <ul>
        <% why.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
