<p id="notice"><%= notice %></p>

<h1>Whos</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whos.each do |who| %>
      <tr>
        <td><%= who.content %></td>
        <td><%= link_to 'Show', who %></td>
        <td><%= link_to 'Edit', edit_who_path(who) %></td>
        <td><%= link_to 'Destroy', who, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Who', new_who_path %>
